<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mpdemo.mapper.CommonMapper">

    <select id="getUser" resultType="java.util.Map">
        select r.* , u.* from record as r
        LEFT JOIN users as u on r.user_id = u.id
        ${ew.customSqlSegment}
    </select>
</mapper>
